.agent-img {
    object-fit: contain;
    height: 500px;
  }
  
  .agent-card {
    border-radius: 15px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
  }
  
  .agent-card:hover {
    transform: scale(1.05);
  }
  
  .ability-card {
    background: rgba(0, 0, 0, 0.7);
    padding: 8px;
    border-radius: 10px;
    width: 80px;
    text-align: center;
  }
  
  .ability-icon {
    width: 50px;
    height: 50px;
  }
  
  
  .agent-image {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
    overflow: hidden;
  }  
  
  .agent-image img {
    height: 200px;
    object-fit: contain;
  }
  