<div *ngIf="weapon">
    <h2>{{ weapon.displayName }}</h2>
    <img [src]="weapon.displayIcon" alt="{{ weapon.displayName }}">
    <p>Tipo: {{ weapon.category }}</p>
    <p>Cadencia de fuego: {{ weapon.weaponStats.fireRate }}</p>
    <p>Costo: {{ weapon.shopData.cost }} créditos</p>
  
    <div *ngIf="weapon.skins.length">
      <h3>Skins:</h3>
      <div *ngFor="let skin of weapon.skins">
        <h4>{{ skin.displayName }}</h4>
        <img [src]="skin.displayIcon" alt="{{ skin.displayName }}">
      </div>
    </div>
  </div>
  <div *ngIf="!weapon">
    <p>Arma no encontrada.</p>
  </div>
  